@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* background #081b29 */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #081b29;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 25px;
  font-weight: 700;
  color: #ededed;
  text-decoration: none;
}

.navbar a{
  font-size: 18px;
  font-weight: 500;
  color: #ededed;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active  {
  color: #00abf0;
}